{
    "printWidth": 100,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "jsxSingleQuote": false,
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "proseWrap": "preserve",
    "singleAttributePerLine": true
}
