.layaot {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    color: white;

    position: relative;
}
