.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    transition: var(--main-transition);

    opacity: 0.7;

    &:hover {
        opacity: 1;
        color: rgb(235, 16, 16);
    }
}